*{
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: green;
    background-size: cover;
    color: #fff;
    font-size: 1.4rem;
    margin: 0;
    padding: 8px;
}
h1{
    color: goldenrod;
}
#message-el{
    font-style: italic;
}
.container{
    width: 500px;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 4% 4%;
}
button{
    border: none;
    border-radius: 5px;
    padding: 15px 10px;
    margin: 5px;
    color: #016f32;
    background-color: goldenrod;
    font-weight: bold;
    font-size: 1.2rem;
    width: 20vw;
    cursor: pointer;
    display: inline;
}
@media screen and (max-width: 375px) {
    .container{
        width: 300px
    } 
    button{
        width: 120px;
    }
}